footer{
    background-color: #60441b;
    color: black;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabeca{
    background-color: #60441b;
    border-radius: 15px 15px;
    font-weight: bolder;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: sans-serif;
}

.titl {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 50px;
}

.fechar-conta {
text-align: center;
    font-size: 1.1rem;
    width: 190px;
    text-wrap: nowrap;
    border: none;
    border-radius: 7px;
    background-color: white;
    padding: 1rem;   
    transition: all 0.4s;
    text-transform: uppercase;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.9);
}

.dev-resp{
    background-color: gray;
    border-radius: 45%;
    width: 15%;
    text-align: center;
}

.fechar-conta{
    background-color: bisque;
    border-radius: 20%;
    color: black;
    cursor: pointer;
    position: absolute;
}